@define-color rosewater   #f4dbd6;
@define-color flamingo    #f0c6c6;
@define-color pink        #f5bde6;
@define-color mauve       #c6a0f6;
@define-color red         #ed8796;
@define-color maroon      #ee99a0;
@define-color peach       #f5a97f;
@define-color yellow      #eed49f;
@define-color green       #a6da95;
@define-color teal        #8bd5ca;
@define-color sky         #91d7e3;
@define-color sapphire    #7dc4e4;
@define-color blue        #8aadf4;
@define-color lavender    #b7bdf8;
@define-color text        #cad3f5;
@define-color subtext1    #b8c0e0;
@define-color subtext0    #a5adcb;
@define-color overlay2    #939ab7;
@define-color overlay1    #8087a2;
@define-color overlay0    #6e738d;
@define-color surface2    #5b6078;
@define-color surface1    #494d64;
@define-color surface0    #363a4f;
@define-color base        #24273a;
@define-color mantle      #1e2030;
@define-color crust       #181926;

@define-color pill-color rgba(30, 32, 48, 0.4);
@define-color bar-color rgba(30, 32, 48, 0.3);
@define-color border-color @overlay0;
@define-color primary-text @subtext1;
@define-color emphasis-text @text;
@define-color accent-text @sapphire;
@define-color warning-text @yellow;
@define-color critical-text @red;
@define-color active-ws @sapphire;
@define-color used-ws @subtext1;
@define-color empty-ws @overlay0;
@define-color urgent-ws @yellow;

* {
    font-family:"JetBrainsMono Nerd Font";
    font-weight: 600;
    font-size: 16px;
}

window#waybar {
    background: @bar-color;
}


/* Left Section */
.modules-left,
.modules-right,
.modules-center {
    padding: 0px 0px 0px 8px;
    margin: 4px 8px;
}

#custom-nix {
    margin-right: 8px;
    color: @primary-text;
}

#custom-nix:hover {
    color: @accent-text;
}

#workspaces {
    margin-left: 0px;
    margin-right: 0px;
}

#workspaces button,
#workspaces button.active {
    padding: 0px 0px;
    margin: 0px 1px;
}

#workspaces button {
    color: @used-ws;
}

#workspaces button.empty {
    color: @empty-ws;
}

#workspaces button:hover {
    background: none;
    box-shadow: none;
    color: @used-ws;
}

#workspaces button.active {
    color: @active-ws;
}

#clock,
#pulseaudio,
#network,
#battery {
    padding: 3px 10px;
    color: @primary-text;
}

#pulseaudio,
#network,
#battery {
    border-right: 2px solid @border-color;
}

#battery {
    border-right: none;
    margin-right: 0px;
}

#battery.warning {
    color: @warning-text;
}

#battery.critical {
    color: @critical-text;
}
