/*****----- Global Properties -----*****/
@import                          "themes/colors_macchiato.rasi"
@import                          "themes/master.rasi"

/*****----- Configuration -----*****/
configuration {
    show-icons: true;
}

listview {
    lines: 5;
}

prompt {
    enabled: false;
}
