@define-color red         #ed8796;
@define-color yellow      #eed49f;
@define-color sapphire    #7dc4e4;
@define-color text        #cad3f5;
@define-color subtext1    #b8c0e0;
@define-color subtext0    #a5adcb;
@define-color overlay2    #939ab7;
@define-color overlay1    #8087a2;
@define-color overlay0    #6e738d;
@define-color surface2    #5b6078;
@define-color surface1    #494d64;
@define-color surface0    #363a4f;
@define-color base #24273a;
@define-color mantle #1e2030;
@define-color crust #181926;

@define-color bar-color @crust;
@define-color pill-color @base;
@define-color primary-text @subtext1;
@define-color emphasis-text @text;
@define-color accent-text @sapphire;
@define-color warning-text @yellow;
@define-color critical-text @red;
@define-color active-ws @sapphire;
@define-color used-ws @subtext1;
@define-color empty-ws @overlay0;
@define-color urgent-ws @yellow;

* {
    font-family:"JetBrainsMono Nerd Font";
    font-weight: 600;
    font-size: 15px;
    border-radius: 0px;
}

window#waybar {
    background: @bar-color;
}


.modules-left,
.modules-right,
.modules-center {
    padding: 0px 0px;
    margin: 3px 8px;
}

#workspaces {
    margin: 2px 4px;
    padding: 0px 4px;
    background: @pill-color;
    border-radius: 5px;
}

#workspaces button {
    margin: 1px 0px;
    padding: 1px 1px;
}

#workspaces button {
    color: @used-ws;
}

#workspaces button.empty {
    color: @empty-ws;
}

#workspaces button:hover {
    background: none;
    box-shadow: none;
    color: @used-ws;
}

#workspaces button.active {
    color: @active-ws;
}

#mpris,
#clock,
#pulseaudio,
#network,
#battery {
    margin: 2px 4px;
    padding: 0px 10px;
    border-radius: 5px;
    background: @pill-color;
    color: @primary-text;
}

#battery.warning {
    color: @warning-text;
}

#battery.critical {
    color: @critical-text;
}
