@import "../../.config/colors/macchiato-gtk.css";

@define-color bar-color @crust;
@define-color pill-color @base;
@define-color primary-text @subtext0;
@define-color emphasis-text @text;
@define-color accent-text @sapphire;
@define-color warning-text @yellow;
@define-color critical-text @red;
@define-color active-ws @sapphire;
@define-color used-ws @subtext1;
@define-color empty-ws @overlay0;
@define-color urgent-ws @yellow;
@define-color groups-sm @green;
@define-color resize-sm @red;
@define-color move-sm @peach;
@define-color media-sm @mauve;

* {
    font-family:"JetBrainsMono Nerd Font Propo";
    font-weight: 600;
    font-size: 16px;
    border-radius: 0px;
}

window#waybar {
    background: @bar-color;
}


.modules-left,
.modules-right,
.modules-center {
    padding: 0px 0px;
    margin: 3px 8px;
}

#workspaces {
    margin: 2px 4px;
    padding: 0px 4px;
    background: @pill-color;
    border-radius: 5px;
}

#workspaces button {
    margin: 1px 0px;
    padding: 1px 1px;
}

#workspaces button {
    color: @used-ws;
}

#workspaces button.empty {
    color: @empty-ws;
}

#workspaces button:hover {
    background: none;
    box-shadow: none;
    color: @used-ws;
}

#workspaces button.active {
    color: @active-ws;
}

#mpris,
#submap,
#clock,
#disk,
#cpu,
#memory,
#pulseaudio,
#network,
#battery {
    margin: 2px 4px;
    padding: 0px 10px;
    border-radius: 5px;
    background: @pill-color;
    color: @primary-text;
}

#submap.WINDOW_RESIZE {
    color: @resize-sm;
}

#submap.WINDOW_MOVE {
    color: @move-sm;
}

#submap.MEDIA {
    color: @media-sm;
}

#battery.warning {
    color: @warning-text;
}

#battery.critical {
    color: @critical-text;
}
