@import "../../.config/colors/macchiato-gtk.css";
@define-color primary-text @overlay2;

* {
    font-family:"UbuntuSansMono Nerd Font Propo";
    font-weight: 600;
    font-size: 16px;
}

/* transparent main bar */
window#waybar {
    background: transparent;
}

/* left/center modules */
#workspaces,
#submap,
#mpris,
#clock {
    color: @primary-text;
}

#workspaces {
    margin-right: 4px;
}

#workspaces button {
    padding: 0px 0px;
    color: @primary-text;
}

#workspaces button.empty {
    color: @overlay0;
}

#workspaces button.active {
    color: @sapphire;
}

#workspaces button.urgent {
    color: @yellow;
}

#workspaces button:hover {
    background: none;
    box-shadow: none;
    color: @primary-text;
}

#mpris {
    margin-left: 10px;
}

/* right modules */
#cpu,
#memory,
#pulseaudio,
#network,
#battery,
#custom-swaync,
#clock {
    color: @primary-text;
    margin-left: 17px;
}

#battery.warning {
    color: @yellow;
}

#battery.critical {
    color: @red;
}
