@import "macchiato.css";
@define-color pill-color rgba(30, 32, 48, 0.4);
@define-color bar-color rgba(30, 32, 48, 0.3);
@define-color border-color @surface0;
@define-color primary-text @subtext1;
@define-color emphasis-text @text;
@define-color accent-text @sapphire;
@define-color warning-text @yellow;
@define-color critical-text @red;
@define-color active-ws @sapphire;
@define-color used-ws @subtext1;
@define-color empty-ws @overlay0;
@define-color urgent-ws @yellow;

* {
    font-family:"JetBrainsMono Nerd Font";
    font-weight: 600;
    font-size: 16px;
    border-radius: 8px;
}

window#waybar {
    background: @bar-color;
}


/* Left Section */
.modules-left {
    padding: 0px 4px 0px 8px;
    margin: 4px 8px;
    border: 2px solid @border-color;
    background: @pill-color;
}

#custom-nix {
    margin-right: 8px;
    color: @primary-text;
}

#custom-nix:hover {
    color: @accent-text;
}

#workspaces {
    margin-left: 0px;
    margin-right: 0px;
}

#workspaces button,
#workspaces button.active {
    padding: 0px 0px;
    margin: 0px 1px;
}

#workspaces button {
    color: @used-ws;
}

#workspaces button.empty {
    color: @empty-ws;
}

#workspaces button:hover {
    background: none;
    box-shadow: none;
    color: @used-ws;
}

#workspaces button.active {
    color: @active-ws;
}

/* Right Section */
.modules-right {
    padding: 4px 0px 4px 3px;
    margin: 0px 8px;
}

#clock,
#pulseaudio,
#network,
#battery {
    margin: 0px 3px;
    padding: 3px 9px;
    background: @pill-color;
    color: @primary-text;
}

#clock,
#pulseaudio,
#network,
#battery {
    border: 2px solid @border-color;
}

#clock:hover,
#pulseaudio:hover,
#network:hover,
#battery:hover {
    color: @emphasis-text;
}

#clock {
    margin-right: 0px;
}

#battery.warning {
    color: @warning-text;
}

#battery.critical {
    color: @critical-text;
}

